user-select(value) {
  -moz-user-select value
  -webkit-user-select value
  -ms-user-select value
  user-select value
}

column-count(value) {
  -moz-column-count: value
  -webkit-column-count: value
  -ms-column-count: value
  column-count: value
}

column-gap(value) {
  -moz-column-gap: value
  -webkit-column-gap: value
  -ms-column-gap: value
  column-gap: value
}

placeholder() {
  &::placeholder {
    {block}
  }
}

appearance(value) {
  -webkit-appearance: value
  -moz-appearance: value
  appearance: value
}