.DS_Store
node_modules/
public
tmp
config/environments/*.yml
!config/environments/.gitkeep
config/locales/*
!config/locales/.gitkeep
config/data/*
!config/data/.gitkeep
app/scripts/data/*
!app/scripts/data/.gitkeep
build